/vendor
/node_modules
.env
.env.*
!.env.example
/storage/*.key
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-journal
